/* @media (max-width:320) {
    container {
        height: 320px;
        border: 2px solid #a4a4a4;
        border-radius: 50%;
    }
} */

body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}

.quote-container {

}

.callout-container {

}

.features-container {
    
}